html, body {
	font-family: "Lato", sans serif;
	color: white;
	background-color: #ffffff;
	font-weight: 300;
}
.text-muted {
	color: #BCBBBB;
}
.text-thin {
	font-weight: 100;
}
.fa-linked-in {
	color: white;
}
.super-title {
    color: white;
    font-size: 50px;
    font-family: 'Roboto';
    margin: 10px auto;
    position: absolute;
    width: 100%;
    top: 150px;
}
.subb-title {
    color: white;
    font-size:30px;
    font-family: 'Raleway', sans-serif;
    margin: auto;
    position: absolute;
    width: 100%;
    top: 225px;
}
.iconset {
	display: flex;
	top: 300px;
}
.fab {
	margin: 20px 50px 0 50px;
}
.myButtonDude {
   background-color: #f8d568;
}

.logo-title {
	margin-top: 20px;
}
.thick-hr {
	width: 100%;
	height: 5px;
	background-color: #747704;
}
#introtext {
    font-family: Lato;
    line-height: 7rem;
   }
#skills {
	color: white;
	font-weight: 700;
	margin-top: 60px;
	margin-bottom: 0;
	height: 400px;
	font-family: Lato;
   		}
#skills > h4 {
    line-height: 4rem;
}
.buttonup {
   	margin-top: -20px;	
}
#landing {
	height: 100vh;
	display: block;
	background-image:url('http://onesirian.github.io/keyboard_blur.jpg');
	background-position: center;
	background-repeat: repeat-y;
	background-size: cover;
	background-attachment: fixed;
	
}

.midsection {	
	display: flex;
	background: #808080;
	background-size: cover;
	background-attachment: fixed;
	justify-content: space-around;
}

.projectitem {
	margin-left: 0;
	margin-right: 0;	
}
#projects {
	clear: both;
	text-transform: uppercase;
	text-align: center;
        color: black;
	text-shadow: 1px 1px #BCBBBB;
	font-weight: 900;
	}
.smallpic {
	height: 100px;
	max-height: 100%;
	width: 100px;
	max-width: 100%;
}
.bottom-bar {
	background-color: #242424;
	color: #ffffff;
}
.black {
	background-color: black;
		}
#set1 {
	display: flex;
        width: 100%;
        height: auto;
	margin: 10px;
		}
#set1 a {
	margin: 10px;
	}
a img {
	margin: 10px;
	max-width: 100%;
	height: 200px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    #landing {
        background-image: url('http://onesirian.github.io/TOTR45.vertical.jpg');
    }
    #introtext {
        line-height: 2rem;
    }
    .super-title {
        font-size: 20px;
        width: 50%;
        top: 100px;
    }
    .subb-title {
        font-size: 15px;
        top: 150px;
    }
    .midsection {
        flex-direction: column;
    }
    #skills {
        height: 200px;
        margin: 5px 0;
    }
    .LI-profile-badge {
        display: none;
    }
    .iconset {
        display: flex;
        top: 200px;
        width: 30%;
    }
    .fab {
        margin: 5px;
    }
    #set1 {
        flex-direction: column;
	height: auto;
	margin: 5px;
    }
    #set1 img {
        max-width: 100%;
	height: auto;
             }
}
